.page{
    width: 100%;
    height: 100%;
    background: #ccc;
    position: relative;
    overflow: hidden;
   .leftbox{
       float: left;
       width: 46%;
       margin: 2%;
       height: 96%;
       box-sizing: border-box;
       .item{
        width: 100%;
        height: 48%;
        margin-bottom: 1%;
        border: 1px solid #666;
        box-sizing: border-box;
       
    }
   }
   .rightbox{
        float: left;
        width: 46%;
        box-sizing: border-box;
        margin: 2%;
        height: 96%;
        
        .item{
            width: 100%;
            height: 48%;
            margin-bottom: 1%;
            border: 1px solid #666;
            box-sizing: border-box;
           
        }
       
    }
}