.this {
  ul, li, p {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .tabBox {
    background: #fff;
    .tabTitle {
      width: 100%;
      li {
        height: 0.88rem;
        line-height: 0.88rem;
        text-align: center;
        display: inline-block;
        //color: #333;
        text-decoration: none;
        font-size: 0.28rem;
        //border-bottom: 1px solid #fff;
        &.on {
          color: #FF6825;
          border-bottom: 1px solid #FF6825;
        }
      }
    }

    .tabContent {
      .tabContentIndex {
        font-size: 0.28rem;
        display: none;
        &.show {
          display: block;
        }
      }
    }
  }
}
